main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }

  main h1{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  main section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }