header {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    display: flex;
  }

  header img{
    height: 80px;
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  input[type="text"] {
    background-color: #222;
    border: none;
    border-radius: 20px 0 0 20px;
    color: #fff;
    flex-grow: 1;
    padding: 10px 20px;
  }
  
  button[type="submit"] {
    background-color: #474747;
    cursor: pointer;
    border: none;
    border-radius: 0 20px 20px 0;
    color: #fff;
    padding: 10px 20px;
  }